<!DOCTYPE html>
<html>
<head>
<title><%= @headers['title'] %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="<%= @headers['generator'] %>">
<meta name="author"    content="<%= @headers['author']%>" >
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
<style type="text/css">
code {font-size: 13pt; color:#AF0}
</style>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head>
<body>

<%
    pages = @content.split(/\<div class='slide '\>\s+\<\!-- _S9SLIDE_\s+--\>/m)

   @mobile_pages = []
    pages.each do |page|
      page = page.gsub(/\<\/div\>$/, "").strip
      @mobile_pages << page unless page == ""
    end
%>
<% @mobile_pages.each_with_index do |page, index| %>
<div data-role='page' data-theme='a' id='slide<%="#{index+1}"%>'  class="slide" next='#slide<%="#{index+2}" %>' prev='#slide<%="#{index}"%>'>
  <div data-role='header' data-theme='d'>
    <h1><%= @headers['title'] %></h1>
    <a href='#slide<%="#{index}" %>' data-rel="back" data-role="button" data-inline="true" data-icon="back">Back</a>
    <a data-role='button' data-icon="forward" href='#slide<%="#{index+2}" %>'>Next</a>
  </div>
  <div data-role='content'>
    <%=  page  %>
  </div>
</div>
<% end %>

</body>
</html>